body {
    background-color: #36A7E8;
}

.navbar {
    background-color:#36A7E8;
}

.navbar-brand,
.navbar-nav .nav-link,
.navbar-nav .btn-sign-out {
    color: white;
}

.nav-link:hover {
    color: white !important;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.btn-reset,
.btn-color,
.btn-add-product {
    background-color: white;
    color: #033C73;
}

.btn-reset:hover,
.btn-color:hover,
.btn-add-product:hover {
    background-color: #033C73 !important;
    color: white !important;
}

/* Add a white vertical line */
.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid white;
    padding-right: 15px; /* Adjust spacing */
}
