*{background-color: #5C5447;}
h1{
    color:#77b1f3;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3{color:#9AC5F6;
}

p, li{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p#firstp{
   border-bottom: 0.5px solid white ;
}
span{
    color: yellow;
}
img {
    height: 200px;
    width: 200px;
  }
  #image{
    height: 20px;
    width: 20px;
  }
  a:hover {
    color: green;
  }

