*{background-color: #5C5447;}
h1{
    color:#9AC5F6;
    font-weight: bold;
    size: 20vw;
    font-family: Arial, Helvetica, sans-serif;
}

h3{color:#9AC5F6;
}

p, li{
    color: white;
}

p#firstp{
   border-bottom: 0.5px solid white ;
}
span{
    color: yellow;
}
img {
    height: 200px;
    width: 200px;
  }